<header class="navbar">
  <nav class="container">
    <!-- Logo -->
    <div class="logo">
      <a href="index.html">
        <img src="assets/img/logo.png" alt="Logo Rentalia" />
      </a>
      <div class="logo-sec">
        <span class="logo-text">RENTALIA &copy;</span>
        <p class="header-desc">El lugar donde sí quieres vivir.</p>
      </div>
    </div>

    <!-- Menú Desktop -->
    <ul class="nav-links">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="alternativas.html">Alternativas</a></li>
      <li><a href="experiencias.html">Experiencias</a></li>
      <li><a href="agendar_visita.html">Agendar Visita</a></li>
      <li><a href="FAQ.html">FAQ</a></li>
    </ul>

    <!-- Botón Hamburguesa -->
    <button class="btn-nav" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Menú Móvil -->
    <div id="mobile-menu" class="mobile-menu">
      <a href="index.html">Inicio</a>
      <a href="alternativas.html">Alternativas</a>
      <a href="experiencias.html">Experiencias</a>
      <a href="agendar_visita.html">Agendar Visita</a>
      <a href="FAQ.html">FAQ</a>
    </div>
  </nav>
</header>
